// Input style
input {
    font-family: 'Nunito' !important;
    font-weight: 500 !important;
}

input::placeholder {
    color: var(--light-dark-color) !important;
}

.history-title {
    margin-left: 20px;
    color: var(--semi-white-color);
}
